### 7. Implementation of KNN for regression problem

In [1]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score,r2_score
import pandas as pd
from sklearn.preprocessing import *


bike=pd.read_csv("day.csv")
bike=bike.drop(['dteday'],axis=1)
x=bike.drop(['cnt'],axis=1)
y=bike['cnt']

bike.head()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [2]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print("x train input :",x_train.shape)
print("y train input :",y_train.shape)

x train input : (584, 14)
y train input : (584,)

In [3]:
knn_model=KNeighborsRegressor(n_neighbors=3)
knn_model.fit(x_train,y_train)
knn_predict=knn_model.predict(x_test)
print("R2 Score: ",r2_score(y_test,knn_predict))
print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

R2 Score:  0.996345231136817

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023