### 13. Manual implementation of Naive Bayes

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score 
from sklearn import datasets 
from sklearn.naive_bayes import GaussianNB 
from sklearn.preprocessing import *

df=pd.read_csv('naivebayes.csv')
x_=df.iloc[:,:-1]
y_=df['Play Golf']
df

     Outlook Temperature Humidity  Windy Play Golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4      Sunny        Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True       Yes
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes
13     Sunny        Mild     High   True        No

In [4]:
from math import *

df=pd.read_csv('naivebayes.csv')
x_=df.iloc[:,:-1]
data = {'values':{},'yes':{},'no':{},'p(yes)':{},'p(no)':{}}
table = pd.DataFrame(data)

c=x_.columns.tolist()
for x in range(len(c)):
    coll=df[c[x]].unique().tolist()
    yes,no=[],[]
    for i in coll:
        y=len(df.loc[(df[c[x]]==i)&(df['Play Golf']=='Yes')])
        n=len(df.loc[(df[c[x]]==i)&(df['Play Golf']=='No')])
        yes.append(y)
        no.append(n)
    pyes = [q / sum(yes) for q in yes]
    pno = [q / sum(no) for q in no]
    data = {'values': coll,'yes': yes,'no':no,'p(yes)':pyes,'p(no)':pno}
    tablev = pd.DataFrame(data)
    table = pd.concat([table, tablev], ignore_index=True)
    
table

     values  yes   no    p(yes)  p(no)
0     Rainy  2.0  3.0  0.222222    0.6
1  Overcast  4.0  0.0  0.444444    0.0
2     Sunny  3.0  2.0  0.333333    0.4
3       Hot  2.0  2.0  0.222222    0.4
4      Mild  4.0  2.0  0.444444    0.4
5      Cool  3.0  1.0  0.333333    0.2
6      High  3.0  4.0  0.333333    0.8
7    Normal  6.0  1.0  0.666667    0.2
8     False  6.0  2.0  0.666667    0.4
9      True  3.0  3.0  0.333333    0.6

In [3]:
listy=list(y_)
df_yes = listy.count('Yes')/len(df)
df_no = listy.count('No')/len(df) 

input=['Rainy','Hot','High','True']
yes_prob,no_prob=0,0

input=['Rainy','Hot','High','True']

y=table.loc[table['values'].isin(input)]
yes_prob= prod(y['p(yes)'].tolist()) * df_yes
no_prob= prod(y['p(no)'].tolist()) * df_no
tot_prob= yes_prob+no_prob
yes_possibility= yes_prob/tot_prob
no_possibility= no_prob/tot_prob
print(f'p(yes) = {yes_possibility} , p(no) = {no_possibility}')
print()
if yes_possibility>no_possibility:
    print("Yes")
else:
    print("No")

print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

p(yes) = 0.1336898395721925 , p(no) = 0.8663101604278075

No

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023