### 17. Implementation of averaging and weighted averaging ensemble

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('coviddata.csv')

from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df['SEX']=le.fit_transform(df['SEX'])
df['PATIENT_TYPE']=le.fit_transform(df['PATIENT_TYPE'])
df['RESULTS']=le.fit_transform(df['RESULTS'])

In [4]:
df

,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,RESULTS
0,1,0,1,1,65,2,2,2,2,1,2,2,2,2,2,1
1,1,1,1,1,72,2,2,2,2,1,2,2,1,1,2,0
2,1,1,0,2,55,1,2,2,2,2,2,2,2,2,2,1
3,1,0,1,2,53,2,2,2,2,2,2,2,2,2,2,0
4,1,1,1,2,68,1,2,2,2,1,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3,0,1,2,8,2,2,2,2,2,2,2,2,2,2,0
9996,3,0,1,2,3,2,2,2,2,2,2,2,2,2,2,0
9997,3,1,1,2,45,2,2,2,2,1,2,2,2,1,2,0
9998,3,0,1,2,32,2,2,2,2,2,2,2,2,2,2,0
9999,3,0,1,2,60,2,2,2,2,2,2,2,1,2,2,0

In [9]:
x = df.drop('RESULTS', axis = 1)
y = df['RESULTS']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

model1 = DecisionTreeClassifier()
model2 = KNeighborsClassifier()
model3= LogisticRegression()
model1.fit(x_train,y_train)
model2.fit(x_train,y_train)
model3.fit(x_train,y_train)
pred1=model1.predict_proba(x_test)
pred2=model2.predict_proba(x_test)
pred3=model3.predict_proba(x_test)
finalpred=(pred1+pred2+pred3)/3
print("Average\n")

print(finalpred)
print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

Average

[[0.04188191 0.95811809]
 [0.03565444 0.96434556]
 [0.22589955 0.77410045]
 ...
 [0.04865656 0.95134344]
 [0.08625747 0.91374253]
 [0.02416908 0.97583092]]

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023

C:\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
print("Weighted Average\n")
model1 =DecisionTreeClassifier()
model2 = KNeighborsClassifier()
model3= LogisticRegression()
model1.fit(x_train,y_train)
model2.fit(x_train,y_train)
model3.fit(x_train,y_train)
pred1=model1.predict_proba(x_test)
pred2=model2.predict_proba(x_test)
pred3=model3.predict_proba(x_test)
finalpred=(pred1*0.3+pred2*0.3+pred3*0.4)
print(finalpred)
print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

Weighted Average

[[0.0452583  0.9547417 ]
 [0.04278532 0.95721468]
 [0.21307946 0.78692054]
 ...
 [0.05149132 0.94850868]
 [0.08350896 0.91649104]
 [0.02900289 0.97099711]]

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023

C:\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(